.headerContainer {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 5px;
}

a {
    margin-left: 10px;
    margin-right: 10px;
    color: inherit;
    text-decoration: underline;
}

.navbarLinks {
    padding-top: 0px;
}

.navbarUser {
    float: right;
}

input {
    background-color: aliceblue;
}

/* @media screen and (min-width: 1400) { */
    .Logo {
        font-family: 'Amatic SC', cursive;
        font-size: 100px;
    }
/* } */
/* 
@media screen and (min-width: 768) { */
    /* .Logo {
        font-family: 'Amatic SC', cursive;
        font-size: 50px;
    } */
/* } */

.titleStyle {
    margin-left: 20vw;
}